<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="{{ url_for('static', filename='css/timerStyles.css') }}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body style="background: #fef9ee">
    <table>
      <tr style="width: 80%; position: absolute; left: 133px; top: 37px">
        <td width="85%"><div id="TigerFocusbanner">TigerFocus*</div></td>
        <td width="5%" align="center">
          <button class="headerbutton" style="padding-right: 20px">
            <a href="">about</a>
          </button>
        </td>
        <td width="5%" align="center">
          <button class="headerbutton" style="padding-right: 20px">
            <a href="">feedback</a>
          </button>
        </td>
        <td width="5%" align="center">
          <button class="headerbutton">
            <a href="/hub">hub</a>
          </button>
        </td>
      </tr>
    </table>
    <div id="border"></div>
    {% block body %} {% endblock %}
  </body>
</html>
