{% extends "base.html" %}

{% block title %}Database Users{% endblock %}

{% block body %}
<h3>COURSES</h3>
<h4>User ID: {{ userid }}</h4>
<table>
  <thead>
    <tr>
        <th>Course Codes</th>
    </tr>
  </thead>
  <tbody>
    {% for code in codes %}
    <tr>
        <td>{{ code }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/">Home</a>

<form action="/addcourse" method="post">
    <input type="submit" name="Add a Course">
    <input type="hidden" name="userid" value="{{ userid }}">
</form>
