{% extends "base.html" %} {% block title %} Hub UI TEST {% endblock %} {% block
body%}

<div id="welcome_wrapper">
<table>
  <td width="88%"><div id="welcome">Welcome back, netid</div></td>
  <td style="padding-right:80px" width="12%" align="left"><div><button class="smallbutton"><a id="start" href="/timer">START SESSION</a></button></div></td>
</table>
</div>


<button id="preloaded_tab">
  pre-loaded courses
</button>
<button id="assignments_tab">
  assignments
</button>
<div id="assignments_window">
  <div id="assignments_header">
    <h2 id="current_assignments_title" style="padding-left: 30px">Current Assignments</h2>
    <div style="margin-left: auto; margin-right: 30px">
      <button class="smallbutton" style="margin-right: 15px">create new</button>
      <button class="smallbutton">edit courses</button>
    </div>
  </div>
  <hr class="window_hr" style="margin-top: 0px" />
  <div>
    <table style="margin-left: 30px" id="table_header">
      <td></td>
      <td></td>
      <td width=600px" align="center">Assignment</td>
      <td width="100px" align="left">Due Date</td>
      <td width="100px" align="center">Class</td>
      <td></td>
      <td></td>
      <td></td>
    </table>
  </div>
  <hr class="window_hr" style="margin-top: 0px" />
  <div>

    <!--TODO: for loop logic here for outputting users assignments -->
    <table id="assignment_wrapper">
      <tr>
        <td style="padding-left: 30px; padding-bottom: 35px; padding-right: 30px"width="40px;"align="center">
          <label class="checkbox_button">
          <input type="checkbox"></input>
          <div class="checkmark"></div>
          </label>
        </td>
        <td align="left"><button class="status_button"></button></td>
        <td align="left"><div class="assignment_text">assignmentname</div></td>
        <td align="left"><div class="assignment_text">duedate</div></td>
        <td align="left"><div class="class_chip">classchip</div></td>
        <td width="5%"><button>edit</button></td>
        <td width="5%"><button>copy</button></td>
        <td style="padding-right: 10px" width="5%"><button>delete</button></td>
      </tr>
    </table>

  </div>
</div>

<script src="{{url_for('static', filename='script/hub.js')}}"></script>
{% endblock %}
