{% extends "base.html" %} {% block title %} UI TEST{% endblock %} {% block
body%}

<div id="welcome">Welcome back, netid</div>

<button id="preloaded_tab" onclick="preloadedTabClicked()">
  pre-loaded courses
</button>
<button id="assignments_tab" onclick="assignmentsTabClicked()">
  assignments
</button>
<div id="assignments_window">
  <div id="assignments_header">
    <h2 style="padding-left: 30px">Current Assignments</h2>
    <div style="margin-left: auto; margin-right: 30px">
      <button class="smallbutton" style="margin-right: 15px">create new</button>
      <button class="smallbutton">edit courses</button>
    </div>
  </div>
  <hr style="margin-top: 0px" />
  <div>
    <table style="margin-left: 30px" id="table_header">
      <td width="70%" align="center">Assignment</td>
      <td width="10%" align="center">Due Date</td>
      <td width="20%" align="right">Class</td>
    </table>
  </div>
  <hr style="margin-top: 0px" />
  <div>
    <table id="assignment_wrapper">
      <tr>
        <td align="center">
          <button class="checkbox_button"></button>
        </td>
        <td align="center"><button class="status_button"></button></td>
        <td align="center">assignment name</td>
        <td align="center">due date</td>
        <td align="center"><div>classchip</div></td>
      </tr>
    </table>
  </div>
</div>

<script src="{{url_for('static', filename='script/hub.js')}}"></script>
{% endblock %}
