{% extends "base.html" %} {% block title %}Database Users{% endblock %} {% block
body %}
<h3>USERS</h3>
<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr />
Click here to <a href="/adduser">sign up</a>
<br>
<a href="/hub">ui test</a>

{% endblock %}
