{% extends "base.html" %} {% block title %} Timer UI TEST{% endblock %} {% block body%}

<link href="{{ url_for('static', filename='css/timerStyles.css') }}" rel="stylesheet"> 
<div id="TigerFocusbanner">TigerFocus*</div>

<div id="border"></div>

<div id="screen"></div>
<button id = "pomodoro"  > pomodoro </button>

<div id="chronoExample">
    <div class="values">25:00</div>
    <div>
        <button class="startButton">Start</button>
        <button class="pauseButton" >Pause</button>
        <button class="stopButton">Stop</button>
        <button class="resetButton">Reset</button>
    </div>
</div>



{% endblock %}