{% extends "base.html" %} {% block title %} Timer UI TEST{% endblock %} {% block body%}

<link href="{{ url_for('static', filename='css/timerStyles.css') }}" rel="stylesheet"> 
<div id="TigerFocusbanner">TigerFocus*</div>

<div id="border"></div>

<div id="screen">
<button id = "pomodoro"  > pomodoro </button>
<button id = "pomodoro"  > short break </button>
<button id = "pomodoro"  > long break </button>

<div id="timeContainer">
    <div id="timeDisplay">00:00:00</div>
    <button id="startBtn" class="timerBtn">Start</button>
    <button id="pauseBtn" class="timerBtn">Pause</button>
    <button id="resetBtn" class="timerBtn">Reset</button>

</div>

<p align="center"> <iframe width="700" height="400" src="https://www.youtube.com/embed/Kz1QJ4-lerk?autoplay=1&mute=1"></p>
</iframe>
</div>

</div>


<script src="{{url_for('static', filename='script/timer.js')}}"></script>

{% endblock %}