#mission {
  margin: auto;
  text-align: center;
  width: 910px;
  height: 127px;
  left: 265px;
  top: 252px;

  font-family: "Anek Bangla";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 112px;
  text-align: center;

  color: #4e4e4e;
}

#para {
  margin: auto;
  text-align: center;
  width: 910px;
  height: 127px;
  left: 265px;
  top: 379px;

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 80px;

  color: #4e4e4e;
}

#pic {
  margin: auto;
  width: 250px;
  height: 300px;
  border-radius: 250px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.name {
  width: 272px;
  height: 35px;
  left: 169px;
  top: 1379px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
  text-align: center;
}

.team {
  text-align: center;
}

#para2 {
  margin: auto;
  text-align: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 30px;

  color: #4e4e4e;
}
#slide {
  margin: auto;
  border-radius: 10px;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}