@import url("https://fonts.googleapis.com/css?family=Anek+Bangla&display=swap");

a {
  text-decoration: none;
  color: #fef9ee;
}
a:visited {
  text-decoration: none;
  color: #fef9ee;
}
a:hover {
  color: #fef9ee;
}

hr {
  color: #fef9ee;
  margin-top: 0px;
  width: 95%;
}

#welcome-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

#welcome {
  font-weight: 600;
  font-size: 37.5px;
  color: #4e4e4e;
}

#assignments-window {
  display: flex;
  flex-direction: column;
  background: #919fc7;
  border-radius: 40px;
  border: 3px solid #6c7896;
}

#tabs {
  display: flex;
  gap: 16px;
  margin-left: 30px;
  margin-top: 10px;
}

#assignments-tab {
  border: 0px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: auto;
  background: #6c7896;
  border-radius: 19.2px 19.2px 19.2px 19.2px;
  cursor: pointer;
}

#assignments-tab:hover {
  background: #acbdeb;
}

#preloaded-tab {
  border: 0px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: auto;
  background: #6c7896;
  border-radius: 19.2px 19.2px 19.2px 19.2px;
  cursor: pointer;
}

#preloaded-tab:hover {
  background: #acbdeb;
}

#assignments-header {
  margin-top: 15px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
}

#current-assignments-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 40px;
  color: #fef9ee;
}

#edit-button-wrapper {
  display: flex;
  gap: 8px;
}

.small-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 800;
  border: 3px solid rgba(0, 0, 0, 0.25);
  background-color: #564b47;
  color: #fef9ee;
  text-align: center;
  border-radius: 20px;
  height: 50px;
  width: 145px;
  margin-bottom: 0px;
  cursor: pointer;
}
.small-button:hover {
  background: #83736d;
}

#table_header {
  color: #fef9ee;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
}

.assignment_wrapper {
  background: #fef9ee;
  border-radius: 30px;
  height: 70px;
  width: 95%;
  margin-left: 25px;
}

#pre_assignments_tab {
  border: 0px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: auto;
  border-radius: 19.2px 19.2px 19.2px 19.2px;
  cursor: pointer;
  background: #798d5f;
}
#pre_assignments_tab:hover {
  background: #bbda93;
}

#pre_preloaded_tab {
  border: 0px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: auto;
  border-radius: 19.2px 19.2px 19.2px 19.2px;
  cursor: pointer;
  background: #798d5f;
}
#pre_preloaded_tab:hover {
  background: #bbda93;
}

#input_title {
  font-family: "Anek Bangla", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #4e4e4e;
  text-align: center;
}

#preloaded-window {
  display: flex;
  flex-direction: column;
  background: #abc787;
  border-radius: 40px;
  border: 3px solid #798d5f;
}

.class_chip {
  text-align: center;
  overflow-x: hidden;
  font-family: "Anek Bangla", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-bottom: 0px;
  width: 125px;
  height: 40px;
  border-radius: 30px;
  text-transform: uppercase;
}
.assignment_text {
  font-family: "Anek Bangla", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-bottom: 0px;
}

.status_button {
  border: 0px;
  width: 20px;
  height: 20px;
  padding-bottom: 7px;
  border-radius: 100%;
  background: #807f7f;
  cursor: pointer;
}

.checkbox_button input {
  opacity: 0;
  cursor: pointer;
  height: 0px;
  width: 0px;
}

.checkmark {
  border: 0px;
  width: 35px;
  height: 35px;
  background: #d9d9d9;
  border-radius: 5px;
  cursor: pointer;
}

.checkmark:hover {
  background: #aaa7a7;
}

.checkbox_button input:checked ~ .checkmark {
  background: #d9d9d9;
}

.checkmark:after {
  content: "X";
  display: none;
}

/* Show the checkmark when checked */
.checkbox_button input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_button .checkmark:after {
  padding-bottom: 100px;
  width: auto;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.action_button {
  border: 0px;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 25px;
  background: #00000000;
  color: #4e4e4e;
}
.action_button:hover {
  color: #7b7b7b;
}

.searchbar {
  border: 3px solid rgb(164, 160, 160);
  border-radius: 20px;
  height: 30px;
}
