@import url("https://fonts.googleapis.com/css?family=Anek+Bangla&display=swap");

body {
  background: #fef9ee;
  font-family: "Anek Bangla", sans-serif;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #4e4e4e;
}
a:hover {
  color: #747272;
}

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner {
  font-weight: 600;
  line-height: 32px;

  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: end;
  border-bottom: 2px solid;
  margin-top: 36px;
}

#menu {
  display: flex;
  gap: 8px;
}

#menu-button {
  border: 0px;
  background-color: #33333300;
  height: 24px;
  font-weight: 300;
  font-size: 22.5px;
  line-height: 24px;
  color: #4e4e4e;
}

#hook {
  color: #4e4e4e;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-align: center;
}

#login-button {
  margin: auto;
  width: 275.2px;
  height: 55.2px;
  border: 3px solid rgba(0, 0, 0, 0.25);
  background-color: #564b47;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2.22231px 2.22231px rgba(0, 0, 0, 0.25);
  border-radius: 16.6673px;
  font-family: "Anek Bangla";
  font-size: 24px;
}
#login-button:hover {
  background: #83736d;
}

#feature {
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  line-height: 84px;
  color: #4e4e4e;
}

#list-wrapper {
  display: flex;
  flex-direction: column;
  gap: -8px;
}

.list {
  font-family: "Helvetica";
  font-weight: 300;
  font-size: 16px;
  list-style-type: none;
  color: #4e4e4e;
  text-align: center;
}

.box{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 750px;
  height: 375px;
  margin-top: 30px;
}

#logout-button {
  background-color: #ffffff00;
  border-color: #564b47;
  border-bottom: #fef9ee;
  border-top: #fef9ee;
  height: 32px;
  width: 80px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
  color: #4e4e4e;
}
