@import url("https://fonts.googleapis.com/css?family=Anek+Bangla&display=swap");

#TigerFocusbanner {
  height: 70px;

  font-family: "Anek Bangla", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 37.5px;
  line-height: 70px;
  color: #f9aa5b;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #4e4e4e;
}

a:hover {
  color: #747272;
}

.headerbutton {
  border: 0px;
  background-color: #33333300;
  height: 26px;
  font-family: "Anek Bangla", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22.5px;
  line-height: 26px;
  color: #4e4e4e;
}

#border {
  position: absolute;
  width: 1257px;
  height: 2px;
  left: 87px;
  top: 103px;

  background: #4e4e4e;
  border-radius: 50px;
}
#words{
margin: auto;
margin-top: 90px;
font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 84px;
text-align: center;

color: #4E4E4E;
text-align: center;
}
#feature{
margin: auto;
width: 159px;
height: 84px;
left: 624px;
top: 862px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 300;
font-size: 45px;
line-height: 84px;
/* identical to box height */


color: #4E4E4E;

}
.bold {
    font-weight: bold;
}

#login{
  margin: auto;
  width: 275.2px;
  height: 55.2px;
  border: 3px solid rgba(0, 0, 0, 0.25);
  background-color: #564b47;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2.22231px 2.22231px rgba(0, 0, 0, 0.25);
  border-radius: 16.6673px;
  font-family: "Anek Bangla";
  font-size: 24px;
}
#list
{
margin: auto;
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 40px;

color: #4E4E4E;

}

#background{
    background-color: antiquewhite;
}
.center {
   
    margin: 0 auto;


  }

  .centerlist {
    
    display: block;
    text-align: center;

   
  }