{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}" />
{% endblock %}

{% block body %}
<h1 id="mission">Our Mission</h1>
<div>
  <p id="para">
    Our mission is to help Princeton students reach their studying goals by providing a platform for academic concentration. This app provides a space to harness your concentration by allowing its users to use the Pomodoro method while
    also allowing them to have a task manager.
  </p>
</div>
<h2 class="team">meet the team</h2>
<div class="row">
  <div class="column">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Jad" id="pic" />
    <p class="name">Jad Bendarkawi</p>
  </div>
  <div class="column">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" id="pic" />
    <p class="name">Howard Wang</p>
  </div>
  <div class="column">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" id="pic" />
    <p class="name">Ashley Ponce</p>
  </div>
</div>
{% endblock %}
