{% extends "base.html" %}

{% block title %}TigerFocus Hub{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/admincourse.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hub.css') }}"/>

{% endblock %}
{% block body %}

<div id="welcome_wrapper">
    <table>
      <td width="88%" style="padding-top:50px; padding-left:30px">
        <div id="welcome">Welcome back, {{first_name|capitalize}}!</div>
      </td>
    </table>
  </div>
  
  <div id="admin-window">
    <div id="tabs">
      <div>
        <button style="color: #fef9ee;" onclick="window.location.href='/admincourse';" id="admin_assignments_tab">
          your hub
        </button>
      </div>
      <div>
        <button style="color: #fef9ee;"  onclick="window.location.href='/preloaded';" id="admin_assignments_tab">
         public courses 
        </button>
      </div>
    </div>
  
  
    <div id="assignments-header">
      <div id="current-assignments-title">Current Courses</div>
    </div>
  
    <hr>
  
    <table>
      <td>
        <div style="margin-left: 500px">
            <button style="width:175px" type="submit" class="adminsmall-button">
                make public
                </button>
        </div>
      </td>
      <td align="right" style="padding-right: 30px">
        <button style="width:175px" type="submit" class="adminsmall-button">
          add courses
          </button>
      </td>
    </table>
  
    <hr>
  
    <div>
      <table style="margin-left: 30px" id="table_header">
        <td width="195px" align="left">course name</td>
        <td width="145px" align="left">created by</td>
        <td width="120px" align="left">course code</td>
        <td width="175px" align="left">select to make public</td>
      </table>
    </div>
  
    <hr>
    
  
    <!-- INSERT AJAX + COURSES HERE -->
    <div style="overflow-y: scroll; height: 90%; max-height:525px; width:900px;">
  
      <!-- for loop goes here-->
      <div id="assignment_element_xxx">
        <table class="adminassignment_wrapper" style="margin-bottom:5px">
          <tr>
            <td  width="200px" align="left">
                <div id = "shift">coursename</div>
            </td>
            <td  width="150px" align="left">
              <div id = "shift">username</div>
            </td>
            <td width="150px" align="left">
                <div class="class_chip" style="background-color: pink">
                  code
                </div>
            </td>
            <td width="5%"style="padding-left: 30px; padding-bottom: 30px; padding-right: 50px" align="center">
                <label class="checkbox_button">
                  <input type="checkbox" class = "assignment_checkbox" value = ""></input>
                  <div class="checkmark"></div>
                </label>
              </td>
            </form>
            <td>
               <button id = "view">view assignmnets</button>  
            </td>
            <td>
            <button name="edit_assignment_button" class="action_button" value="" >
                <i class="fa fa-edit"></i>
              </button>
            </td>
            <td>
            <button onclick="window.location.href='/deleteassignment';" class="action_button">
                <i class="fa fa-trash"></i></button>
            </td>
       
            
          </tr>
        </table>
      </div>
  
    </div>
  </div>
  
{% endblock %}