{% extends "base.html" %}

{% block title %}{{course_code}} Assignments{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{url_for('static', filename='css/assignment.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/studenthub.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/createNew.css') }}" />
{% endblock %}

{% block body %}
{% include "modals.html" %}

<div id="welcome_wrapper">
  <table>
    <td width="88%" style="padding-top: 50px; padding-left: 30px;">
      <div id="welcome">Welcome back, {{first_name|capitalize}}!</div>
    </td>
  </table>
</div>

<div id="admin-window">
  <div id="tabs">
    <div>
      <button style="color: #fef9ee;" onclick="window.location.href='/hub';" id="admin_assignments_tab">
        my hub
      </button>
    </div>
  </div>

  <div id="assignments-header">
    <div id="admincurrent-assignments-title">Current Assignments: {{course_code}}</div>
  </div>

  <hr />
  <div>
    <button style="width: 175px; float: right; margin-right: 30px; margin-bottom: 10px;" id="admin_create_new_button" type="submit" class="adminsmall-button">
      add new
    </button>
    <input hidden value="{{id}}" id="current_course_id" />
  </div>

  <hr />

  {% if assignments == [] %}

  <div style="width: 900px; padding: 30px;">click "add new" to add assignments to this course</div>

  {% else %}
  <div style="overflow-y: scroll; height: 90%; max-height: 525px; width: 900px;">
    <div>
      <table style="margin-left: 30px; margin-right: 30px; border-collapse: collapse;">
        <tr id="table_header" style="color: black;">
          <th align="center">course name</th>
          <th align="center">date</th>
          <th></th>
        </tr>
        {% for a in assignments %}
        <div id="assignment_element_{{a['id']}}">
          <tr style="padding-bottom: 5px; border-radius: 10px; background: #fef9ee;">
            <td width="50%" align="center">
              <div>{{a['title']}}</div>
            </td>
            <td width="50%" align="center">
              <div>{{a["due_date"]}}</div>
            </td>
            <td>
              <button name="edit_assignment_button" class="action_button" value="{{a['id']}}">
                <i class="fa fa-edit"></i>
              </button>
            </td>

            <form action="/deleteassignment" method="post">
              <td style="padding-right: 30px;" width="5%">
                <input type="hidden" name="assignment_id" value="{{a['id']}}" />
                <button onclick="window.location.href='/deleteassignment';" class="action_button">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </form>
          </tr>
          <tr>
            <td height="2px"></td>
          </tr>
        </div>
        {%endfor%}
      </table>
    </div>
  </div>
</div>
{%endif%}

<script src="{{url_for('static', filename='script/instructorassignment.js')}}"></script>
{% endblock %}
