{% extends "base.html" %}

{% block title %}TigerFocus FAQ{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
{% endblock %}

{% block body %}
<h2 id="mission">FAQ's</h2>
<p class="para2">If you have any questions look through these slides.</p>
<p class="para2">Hopefully this helps you get back to concentrating!</p>
<iframe id="slide" src="https://docs.google.com/presentation/d/e/2PACX-1vQDuWq6Jo1N4L_91JYq-5gFWzkP2KhABJB8AFjY85a9TDmMYrEVd37SuIVIW4pYiyg3mOIVCQ1ybfpU/embed?start=true&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
{% endblock %}