{% extends "base.html" %}

{% block title %}TigerFocus Hub{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/hub.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/createNew.css')}}">
{% endblock %}

{% block body %}
{% include "modals.html" %}

<div id="welcome-wrapper">
  <div id="welcome">Welcome back, {{first_name|capitalize}}!</div>
  <div>
    <form method="POST" action="/start_session">
      <button class="small-button" onclick="startSession()">
        <a href="\timer">START SESSION</a>
      </button>
      <input type="hidden" name="selected_assignments" id="selected_assignments">
    </form>
  </div>
</div>
  
<div id="assignments-window">
  <div id="tabs">
    <div>
      <button id="assignments-tab">
        <a style="color: #fef9ee;" href="/hub">assignments</a>
      </button>
    </div>
    <div>
      <button id="preloaded-tab">
        <a style="color: #fef9ee;" href="/preloaded">pre-loaded courses</a>
      </button>
    </div>
  </div>

  <div id="assignments-header">
    <div id="current-assignments-title">Current Assignments</div>
    <div id="edit-button-wrapper">
      <button class="small-button" id="create_new_button">create new</button>
      <button class="small-button" id="add_course_button">edit courses</button>
    </div>
  </div>

  <hr>
  <div>
    <table style="margin-left: 30px" id="table_header">
      <td></td>
      <td></td>
      <td width=600px align="center">Assignment</td>
      <td width="100px" align="left">Due Date</td>
      <td width="100px" align="center">Class</td>
      <td></td>
      <td></td>
      <td></td>
    </table>
  </div>
  <hr>

  <div style="overflow-y: scroll; height: 90%;">
    {% for assignment in assignments %}
    <div id="assignment_element_{{assignment['id']}}">
      <table id="assignment_wrapper" style="margin-bottom:5px">
        <tr>
          <td width="5%"style="padding-left: 30px; padding-bottom: 36px; padding-right: 50px" align="center">
            <label class="checkbox_button">
              <input type="checkbox" class = "assignment_checkbox" value = "{{assignment['id']}}"></input>
              <div class="checkmark"></div>
            </label>
          </td>
        </form>
          <td width="5%" align="left">
            <button class="status_button"></button>
          </td>
          <td width="40%" align="left">
            <div class="assignment_text">{{ assignment["title"] }}</div>
          </td>
          <td width="20%" align="left">
            <div class="assignment_text">{{ assignment["due_date"] }}</div>
          </td>
          <td width="15%" align="left">
            <div class="class_chip" style="background-color: {{assignment['color']}}">
              {{assignment["course_code"]}}
            </div>
          </td>
          <td width="5%">
            <button name="edit_assignment_button" class="action_button" value="{{assignment['id']}}">
              <i class="fa fa-edit"></i>
            </button>
          </td>
          
          <form action="/deleteassignment" method="post">
            <td width="5%">
              <input type="hidden" name="assignment_id" value="{{assignment['id']}}" >
              <button onclick="window.location.href='/deleteassignment';" class="action_button">
              <i class="fa fa-trash"></i></button>
            </td>
          </form>
          
        </tr>
      </table>
    </div>
    {% endfor %}
  </div>
</div>

<script src="{{url_for('static', filename='script/hub.js')}}"></script>
{% endblock %}
