<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TigerFocus</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
  </head>
  <body>
    <div id="page">
      <div id="banner">
        <div style="padding-left: 8px;">
          <a href="/" style="color: #f9aa5b; font-size: 37.5px;">TigerFocus</a>
        </div>
        <div style="padding-right: 8px;">
          <a id="menu-button" href="/about">about</a>
        </div>
      </div>

      <div id="hook">
        TigerFocus helps Princeton University students achieve more.
      </div>

      <div>
        <form action="/login" method="get">
          <button id="login-button">Log in to TigerFocus</button>
        </form>
      </div>

      <p align="center" style="margin: 16px;">
        <img class="box" src="/static/demo2.gif" />
      </p>

      <div id="feature">features</div>
      <div id="list-wrapper">
        <p class="list">pace your work sessions using the pomodoro method</p>
        <p class="list">enter your flow state with ambient lo-fi music and artwork</p>
        <p class="list">track your progress and hit your daily focus goal</p>
        <p class="list">unlock badges, keep up a daily streak, and see how you rank against other students on the leaderboard</p>
      </div>
    </div>
  </body>
</html>
