{% extends "base.html" %} {% block title %}Database Users{% endblock %} {% block
body %}
<h3>USERS</h3>
<table>
  <thead>
    <tr>
      <th align="left">Net ID</th>
      <th align="left">First Name</th>
      <th align="left">Last Name</th>
      <th align="left">User Type</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      {% for obj in row %}
      <td>{{ obj }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr/>
<a href="/register">Register</a>
<br>
<a href="/login">Log In</a>
{% endblock %}
