{% extends "base.html" %}

{% block title %}TigerFocus{% endblock %}

{% block body %}

<link href="{{ url_for('static', filename='css/mainPage.css') }}" rel="stylesheet"> 

<div id="words">
    <span id="bold">TigerFocus*</span> helps Princeton University students achieve more through kahdkjhakjshdka
</div>

<form action="/login" method="get">
    <input type="button" value="Login with CAS">
</form>

<div id="feature">feature</div>
<ul>
    <li>
        pace your work sessions using the pomodoro method
    </li>
    <li>
        enter your flow state with ambient lo-fi music and artwork
    </li>
    <li>
        track your progress and hit your daily focus goal
    </li>
    <li>
        unlock badges, keep up a daily streak, and see how you rank against other students on the leaderboard
    </li>
</ul>

<!--
<script src="{{url_for('static', filename='script/mainPage.js')}}"></script>
-->

{% endblock %}
