{% extends "base.html" %}

{% block title %}TigerFocus{% endblock %}

{% block body %}

<link href="{{ url_for('static', filename='css/mainPage.css') }}" rel="stylesheet"> 

<div id="words">
    <span id="bold">TigerFocus*</span> helps Princeton University 
    students achieve more through organization and effective study
    methods
</div>
<p align="center"  ><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTWF18daQXRPYBewM_XjvC120mhE81OOSrm5NP0EveM8Hpqi1GeIKZLd8PyFDELte4BbaG5YXLqO-12/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></p>
<form action="/login" method="get">
  <div align="center">
    <button id="login">Login with CAS</button>
  </div>
</form>

<div id="feature">features</div>
<ul id = "list" align="center">
  <li>
    pace your work sessions using the pomodoro method
  </li>
  <li>
    enter your flow state with ambient lo-fi music and artwork
  </li>
  <li>
    track your progress and hit your daily focus goal
  </li>
  <li>
    unlock badges, keep up a daily streak, and see how you rank against other students on the leaderboard
  </li>
</ul>

<!--
<script src="{{url_for('static', filename='script/mainPage.js')}}"></script>
-->

{% endblock %}
