<!--MODAL: CREATE NEW -->
<div id="create_new_modal" class="modal">
  <div class="modal_content">
    <form action="/addassignment" method="post">
      <div style="height: 450px" class="modal_window">
        <span class="close">&times;</span>

        <div class="modal_input_wrapper">
          <h1 id="input_title">Pick Your Course</h1>
          <select name="course_code" id="course_code">
            {% for course in courses %}
            <option value="{{course['course_code']}}">
              {{course['course_code']}}
            </option>
            {% endfor %}
          </select>
        </div>

        <div class="modal_input_wrapper">
          <h1 id="input_title">Assignment Title</h1>
          <input class="searchbar" type="text" name="title" id="title" />
        </div>

        <div class="modal_input_wrapper">
          <h1 id="input_title">Due Date</h1>
          <input type="datetime-local" name="due_date" id="due_date" />
        </div>
        <div style="padding-left: 375px">
          <button class="submitbutton" type="submit">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--MODAL: EDIT ASSIGNMENT -->
<div id="edit_assignment_modal" class="modal">
  <div class="modal_content">
    <form action="/editassignment" method="post">
      <div style="height: 350px" class="modal_window">
        <span class="edit_assignment_close">&times;</span>

        <input hidden type="number" name="edited_assignment_id" />

        <div class="modal_input_wrapper">
          <h1 id="input_title">Assignment Title</h1>
          <input class="searchbar" type="text" name="title" id="title" />
        </div>

        <div class="modal_input_wrapper">
          <h1 id="input_title">Due Date</h1>
          <input type="datetime-local" name="due_date" id="due_date" />
        </div>
        <span style="padding-top: 30px; padding-right: 30px; float: right"
          ><button class="small-button" type="submit">update</button>
        </span>
      </div>
    </form>
  </div>
</div>

<!--MODAL: CURRENT COURSES -->
<div id="add_course_modal" class="modal">
  <div class="modal_content">
    <div class="modal_window">
      <span class="course_close">&times;</span>
      <div class="modal_input_wrapper">
        <h1 id="input_title">Current Courses</h1>
      </div>
      <div class="courselist_window">
        <!--COURSE CHIP-->
        <div>
          <table>
            {% for course in courses %}
            <tr>
              <td
                width="5%"
                style="
                  padding-left: 30px;
                  padding-bottom: 30px;
                  padding-right: 20px;
                "
                align="center"
              >
                <form action="/exportcourse" method="post">
                  <button
                    name="export_course"
                    id="export_course"
                    class="action_button"
                    value="{{course['id']}}"
                  >
                    <i class="fa fa-upload"></i>
                  </button>
                </form>
                <!-- <label class="checkbox_button">
                  <input type="checkbox"></input>
                  <div class="checkmark"></div>
                </label> -->
              </td>
              <td width="15%">
                <div
                  class="class_chip"
                  style="background-color: {{course['color']}}"
                >
                  {{course['course_code']}}
                </div>
              </td>
              <td width="5%">
                <button
                  name="edit_course_button"
                  class="action_button"
                  value="{{course['id']}}"
                >
                  <i class="fa fa-edit"></i>
                </button>
              </td>

              <form action="/deletecourse" method="post">
                <td width="5%">
                  <input
                    type="hidden"
                    name="course_del_id"
                    value="{{course['id']}}"
                  />
                  <button
                    onclick="window.location.href='/deletecourse';"
                    class="action_button"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </form>
            </tr>
            {%endfor%}
          </table>
        </div>
      </div>

      <button
        id="add_coursenew_button"
        style="position: absolute; top: 350px; left: 300px"
      >
        add new course
      </button>
    </div>
  </div>
</div>

<!--MODAL: ADD COURSE -->
<div id="add_coursenew_modal" class="modal_within">
  <div class="modal_content">
    <div class="modal_within_window">
      <span class="coursenew_close">&times;</span>

      <div class="modal_input_wrapper">
        <h1 id="input_title">Add Course</h1>
      </div>

      <div class="col-lg-12 login-form">
        <form action="/createcourse" method="post">
          <div class="form-group">
            <label class="form-control-label">Course Code</label>
            <input
              class="searchbar"
              type="text"
              name="course_code"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label">Course Name</label>
            <input
              class="searchbar"
              type="text"
              name="course_name"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label">Color</label>
            <select name="color" id="course_color">
              <option value="#EA9C9C">Red</option>
              <option value="#FFC78F">Orange</option>
              <option value="#F8DE9D">Yellow</option>
              <option value="#A6DCA8">Green</option>
              <option value="#ACCEED">Blue</option>
              <option value="#BDB4D9">Purple</option>
              <option value="#F4CAEB">Pink</option>
            </select>
          </div>
          <div
            class="col-12 login-btm login-button justify-content-center d-flex"
          >
            <button type="submit" class="small-button">add course</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--MODAL: EDIT COURSE -->
<div id="edit_course_modal" class="modal_within">
  <div class="modal_content">
    <div class="modal_within_window">
      <span class="editcourse_close">&times;</span>

      <div class="modal_input_wrapper">
        <h1 id="input_title">Edit Course</h1>
      </div>

      <div class="col-lg-12 login-form">
        <form action="/editcourse" method="post">
          <input hidden type="number" name="edited_course_id" />
          <div class="form-group">
            <label class="form-control-label">Course Code</label>
            <input
              class="searchbar"
              type="text"
              name="course_code"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label">Course Name</label>
            <input
              class="searchbar"
              type="text"
              name="course_name"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label">Color</label>
            <select name="color" id="course_color">
              <option value="#EA9C9C">Red</option>
              <option value="#FFC78F">Orange</option>
              <option value="#F8DE9D">Yellow</option>
              <option value="#A6DCA8">Green</option>
              <option value="#ACCEED">Blue</option>
              <option value="#BDB4D9">Purple</option>
              <option value="#F4CAEB">Pink</option>
            </select>
          </div>
          <div
            class="col-12 login-btm login-button justify-content-center d-flex"
          >
            <button type="submit" class="small-button">update course</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
