{% extends "base.html" %}

{% block title %}Preloaded Courses{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/preloaded.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hub.css') }}"/>

{% endblock %}

{% block body %}
<div id="welcome_wrapper">
  <table>
    <td width="88%" style="padding-top:50px; padding-left:30px">
      <div id="welcome">Welcome back, {{first_name|capitalize}}!</div>
    </td>
  </table>
</div>

<div id="preloaded-window">
  <div id="tabs">
    <div>
      <button style="color: #fef9ee;" onclick="window.location.href='/hub';" id="pre_assignments_tab">
        your hub
      </button>
    </div>
    <div>
      <button style="color: #fef9ee;"  onclick="window.location.href='/preloaded';" id="pre_preloaded_tab">
       pre-loaded courses
      </button>
    </div>
  </div>


  <div id="assignments-header">
    <div id="current-assignments-title">Pre-Loaded Courses</div>
  </div>

  <hr>

  <table>
    <td>
      <div style="margin-left: 30px">
        <input class="searchbar" size="30" type="text" placeholder="  search for course...">
      </div>
    </td>
    <td align="right" style="padding-right: 30px">
      <button style="width:200px" type="submit" class="small-button">
        import selected
        </button>
    </td>
  </table>

  <hr>

  <div>
    <table style="margin-left: 30px" id="table_header">
      <td width="100px" align="center"></td>
      <td width="100px" align="center">Course Code</td>
      <td width="300px" align="center">Course Name</td>
      <td width="100px" align="center">Created by</td>
      <td width="10px" align="center">Staff Certified</td>
      <td width="100px" align="center">Last Updated</td>
    </table>
  </div>

  <hr>
  

  <!-- INSERT AJAX + COURSES HERE -->
  <div style="overflow-y: scroll; height: 90%; max-height:525px; width:900px;">

    <!-- for loop goes here-->
    {% for course in courses %}
    <div id="course_element_{{course['id']}}">
      <table class="assignment_wrapper" style="margin-bottom:5px">
        <tr>
          <td width="5%"style="padding-left: 30px; padding-bottom: 30px; padding-right: 50px" align="center">
            <label class="checkbox_button">
              <input type="checkbox" class = "assignment_checkbox" value = ""></input>
              <div class="checkmark"></div>
            </label>
          </td>
        </form>
         
          <td align="left">
            <div class="class_chip" style="background-color: rgb(155, 160, 217)">
              {{course['course_code']}}
            </div>
          </td>

          <td  align="left">
            <div class="assignment_text">{{course['course_name']}}</div>
          </td>

          {% if course['show_author']%}
          <td  align="left">
            <div class="assignment_text">{{course['author']}}</div>
          </td>
          {% else %}
          <td  align="left">
            <div style="width:20px"class="assignment_text"></div>
          </td>
          {%endif%}
          
          {% if course['staff_cert']%}
          <td  align="left">
            <i style="color:#ACCEED; font-size:30px" class="fa fa-certificate"></i>
          </td>
          {% else %}
          <td  align="left">
            <div style="width:30px"class="assignment_text"></div>
          </td>
          {%endif%}
          <td  align="left">
           datetime
          </td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
</div>


{% endblock %}

