{% extends "base.html" %}

{% block title %}Preloaded Courses{% endblock %}

{% block body %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/createNew.css') }}"
/>

<div id="welcome_wrapper">
  <table>
    <td width="88%">
      <div id="welcome">Welcome back, {{first_name|capitalize}}!</div>
    </td>
  </table>
  </div>

<div id="preloaded_window" style="top: 35%">
  <div id="tabs">
    <button id="pre_preloaded_tab">
      <a id="start" href="/preloaded">pre-loaded courses</a>
    </button>
    <button id="pre_assignments_tab">
      <a id="start" href="/hub">assignments</a>
    </button>
  </div>

  <div id="assignments_header">
    <h2
      id="current_assignments_title"
      style="margin-top: 40px; padding-left: 30px"
    >
      Pre-Loaded Courses
    </h2>
    <div style="margin-left: auto; margin-right: 30px">
      </button>
      <button id="add_course_button" class="smallbutton">import selected</button>
    </div>
  </div>

  <hr class="window_hr" style="margin-top: 0px" />
  <div style="margin-left: 30px">
    <input type="text">
  </div>
  <hr class="window_hr" style="margin-top: 0px" />
  <div>
    <table style="margin-left: 30px" id="table_header">
      <td width=200px" align="center" style="padding-left:100px;">Course</td>
      <td width="100px" align="center">Created by</td>
      <td width=200px" align="left">Staff Certified</td>
      <td width="200px" align="center">Last Updated</td>
    </table>
  </div>
  

  <!-- INSERT AJAX + COURSES HERE -->
  <div>
    <div id = "assignmentbar"> <div id = "assignmentcourse"> </div></div>
  </div>


{% endblock %}

