{% extends "base.html" %}

{% block title %}Public Courses{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/studenthub.css') }}" />
{% endblock %}

{% block body %}
<div id="welcome_wrapper">
  <table>
    <td width="88%" style="padding-top: 50px; padding-left: 30px;">
      <div id="welcome">Welcome back, {{first_name|capitalize}}!</div>
    </td>
  </table>
</div>

<div id="public-window">
  <div id="tabs">
    <div>
      <button style="color: #fef9ee;" onclick="window.location.href='/hub';" id="pre-assignments-tab">
        my hub
      </button>
    </div>
    <div>
      <button style="color: #fef9ee;" onclick="window.location.href='/publiccourses';" id="pre-public-tab">
        public courses
      </button>
    </div>
  </div>

  <div id="assignments-header">
    <div id="current-assignments-title">Public Courses</div>
  </div>

  <hr />
  <div id="public-course-header">
    <div style="margin-left: 25px;">
      <input id="searchCode" class="searchbar" size="30" type="text" placeholder="   search by course code..." />
      <input id="searchTitle" class="searchbar" size="30" type="text" placeholder="   search by title..." />
    </div>
    <div style="margin-right: 25px; margin-bottom: 8px;">
      <form action="/importcourses" method="post">
        <button type="submit" class="small-button" onclick="importCourses()" style="width: 200px; height: 45px;">
          add to your hub
        </button>
        <input type="hidden" id="selected_courses" name="selected_courses" value="" />
      </form>
    </div>
  </div>
  <hr />

  <div id="results-wrapper">
    <table id="resultsTable" style="margin-left: 30px; margin-right: 30px; border-collapse: collapse;">
      <!-- INSERT AJAX + COURSES HERE -->
    </table>
  </div>
</div>

<script src="{{url_for('static', filename='script/publiccourses.js')}}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  "use strict";

  function handleResponse(response) {
    $("#resultsTable").html(response);
  }

  let request = null;

  function getResults() {
    let title = $("#searchTitle").val();
    title = encodeURIComponent(title);
    let code = $("#searchCode").val();
    code = encodeURIComponent(code);

    let url = "/searchpubliccourses?title=" + title + "&code=" + code;

    if (request != null) request.abort();

    request = $.ajax({
      type: "GET",
      url: url,
      success: handleResponse,
    });
  }

  function setup() {
    $("#searchTitle").on("input", getResults);
    $("#searchCode").on("input", getResults);
  }

  $(window).ready(getResults);

  $("document").ready(setup);
</script>
{% endblock %}
