{% extends "base.html" %}

{% block title %}Pomodoro Timer{% endblock %}

{% block body%}
<link href="{{style}}" rel="stylesheet"> 

<div id="screen">
  <button id="pomodoro"><a href="/timer">pomodoro</a> </button>
  <button id="pomodoro"><a href="/shortBreak">short break</a></button>
  <button id="pomodoro"><a href="/longBreak">long break</a></button>

  <div id="{{id}}">
    <div id="timeContainer">
      <div id="timer">
        <div id="time" >
          <span id="minutes">{{mins}}</span>
          <span id="colon">:</span>
          <span id="seconds">00</span>
        </div>
      </div>
  
      <div id="buttons">
        <button id="work">start</button>
        <button id="stop">reset</button>
      </div>
    </div>
  </div>

  <p align="center">
    <iframe id = "videoframe" width="700" height="400" src="{{source}}"></iframe>
  </p>

  <div id = "taskrectangle"><h2 id = "h2font">Tasks ToDo</h2>
    <div>
      <p id="selected_assignment_title"></p>
    </div>
  </div>
</div>

<script src="{{script}}"></script>
{% endblock %}
